<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../Styles/Project.css">
</head>
<body>
    <div class="header-container">
        <div class="vector">
            <img src="../Images/Vector.png" alt="Vector">
        </div>

        <div class="frame-767">
            <div class="home-text">Home</div>
            <div class="servicii-text">Servicii</div>
            <div class="despre-noi-text">Despre noi</div>
            <div class="de-ce-sa-ne-alegi-text">De ce sa ne alegi</div>
            <div class="testimoniale-text">Testimoniale</div>
        </div>

        <div class="frame-771">
            <div class="contact-logo">
                <img src="../Images/ContactLogo.png" alt="Contact Logo">
            </div>
        </div>
    </div>
</body>
</html>